<div class="d-flex align-items-center justify-content-center" >
    <h1>به توییت برنامه ریزی شده خوش آمدید</h1>

    <div class="d-flex align-items-center justify-content-left">
      <% if @user %>
        Logged in as: <% @user.email %>
      <% end %>
    </div>
</div>