<div class="d-flex align-items-center justify-content-center" >
    <h1>به توییت برنامه ریزی شده خوش آمدید</h1>
</div>

<%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>